h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}
h1 {
  @apply text-[38px];
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-[28px];
}
h4 {
  @apply text-[22px];
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
.button {
  @apply px-5 py-2.5 rounded-full inline-flex justify-center gap-4 cursor-pointer;
}
.stroke-button {
  @apply border border-[var(--colorPrimary)] bg-white text-[var(--colorPrimary)];
}
.gradient-button {
  @apply bg-gradient-to-r from-[var(--color-gradient-start)] to-[var(--color-gradient-end)] text-white;
}
.container {
  @apply max-w-[1432px] mx-auto px-4;
}
.section-inline-title {
  @apply flex items-center justify-between mb-5;

  .cta:hover {
    @apply transition [background:var(--colorPrimary)];
  }
  .cta-white {
    @apply py-2.5 px-5 bg-white rounded-full text-[var(--colorPrimary)] border border-[var(--colorPrimary)];
  }
  &.center {
    @apply justify-center gap-5;
  }
}
.swiper .swiper-navigation-icon {
  @apply hidden;
}
.swiper-button-next {
  @apply p-1.5 rounded-full border border-[#F6EBEB];
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.swiper-button-next {
  background-image: url("../images/arrow-icon.svg");
}
.swiper-button-prev {
  @apply p-1.5 rounded-full border border-[#F6EBEB];
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.swiper-horizontal .swiper-button-prev {
  @apply rotate-180 left-[-20px];
  background-image: url("../images/arrow-icon.svg");
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply !static mt-5;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-gradient-to-r from-[var(--color-gradient-start)] to-[var(--color-gradient-end)] size-3.5 border-2 border-[#FFCCCC];
}
.swiper-scrollbar {
  @apply !h-2.5 !static mt-5 !bg-[#FFEEEE];
  .swiper-scrollbar-drag {
    @apply bg-[var(--colorSecondary)];
  }
}

.Primary-btn {
  @apply px-5 py-2.5 mt-3.5 rounded-full text-white [background:var(--colorPrimary)] inline-block;
}
.stroke-btn {
  @apply py-2.5  rounded-full text-[var(--colorPrimary)] border border-[var(--colorPrimary)] bg-white inline-block px-5 font-semibold text-center;
}

.product-card {
  @apply [background-color:var(--greyColor)] rounded-2xl p-2.5 cursor-pointer;
  .product-image-container {
    @apply w-full relative overflow-hidden rounded-2xl z-40;
    .product-heart {
      @apply absolute top-3 right-3 z-999;
    }
    .product-image {
      @apply object-cover rounded-xl h-full max-h-[255px] hover:scale-103 transition;
    }
  }
  .product-rating-container {
    @apply inline-block;
    .product-rating {
      @apply text-white text-sm flex items-center gap-1 [background:var(--colorPrimary)] px-1.5 py-0.5 rounded-md mb-2.5;
    }
  }
  .product-info {
    @apply mt-[15px];
    .product-title {
      @apply text-sm;
    }
    .product-price {
      @apply flex items-center gap-2 mt-[5px] mb-2.5;
      .new-price {
        @apply font-semibold [color:var(--colorPrimary)] flex items-center gap-1;
      }
      .old-price {
        @apply text-sm text-[#696969] flex items-center gap-1 line-through;
      }
    }
  }
  .addtocartbtn {
    @apply w-full py-2  text-[var(--colorPrimary)] hover:text-white rounded-full bg-white hover:bg-[var(--colorPrimary)] transition duration-400 border border-[#EA5B5B] mt-2.5 font-semibold;
  }
}
.ServicesCard {
  @apply flex text-white items-center justify-between bg-gradient-to-r from-[var(--color-gradient-start)] to-[var(--color-gradient-end)] rounded-[34px] overflow-hidden;
  .service-info {
    @apply px-7;
    .service-title {
      @apply text-lg font-bold mb-2.5;
    }
    .service-subtitle {
      @apply mb-2.5;
    }
    .service-features {
      @apply flex flex-col gap-2.5;
      .icon-bg {
        @apply h-7 w-7 rounded-full flex items-center justify-center bg-white;
      }
    }
  }
}

.promo-slider {
  @apply pt-5 pb-[60px];
}
.swiper-container {
  @apply relative;
}

.shapeBanner {
  @apply [clip-path:polygon(93.665%_18.046%,94.12%_15.719%,94.367%_13.29%,94.418%_10.842%,94.289%_8.455%,93.994%_6.212%,93.546%_4.193%,92.961%_2.481%,92.251%_1.157%,91.433%_0.303%,90.518%_0%,3.898%_0%,3.265%_0.149%,2.666%_0.579%,2.106%_1.267%,1.596%_2.189%,1.142%_3.324%,0.752%_4.646%,0.435%_6.133%,0.199%_7.761%,0.051%_9.507%,0%_11.348%,0%_88.652%,0.051%_90.493%,0.199%_92.239%,0.435%_93.867%,0.752%_95.354%,1.142%_96.676%,1.596%_97.811%,2.106%_98.733%,2.666%_99.421%,3.265%_99.851%,3.898%_100%,96.021%_100%,96.951%_99.688%,97.78%_98.808%,98.495%_97.447%,99.082%_95.69%,99.525%_93.624%,99.811%_91.334%,99.925%_88.907%,99.853%_86.428%,99.579%_83.984%,99.091%_81.66%,89.844%_47.249%,89.553%_46.004%,89.325%_44.682%,89.159%_43.302%,89.057%_41.882%,89.017%_40.441%,89.04%_38.996%,89.127%_37.567%,89.277%_36.172%,89.491%_34.829%,89.768%_33.558%,93.665%_18.046%)]
}



// ------------------
// Dashboard
// ------------------

