@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "../assets/css/main.scss";
@import "../components/common/header/header.scss";
@import "../components/Home/banner/banner.scss";
@import "../components/Home/features/features.scss";
@import "../components/Home/camps/camps.scss";
@import "../components/Home/strip/strip.scss";
@import "../components/Home/petbrands/petbrands.scss";
@import "../components/Home/popular-categories/popular-categories.scss";
@import "../components/Home/products/popprods.scss";
@import "../components/Home/season-saving/season-saving.scss";
@import "../components/Home/services/pet-services.scss";
@import "../components/Home/App-cta/AppCta.scss";
@import "../components/common/footer/footer.scss";
@import "../components/Home/pet-Slider/petSlider.scss";


/* Dashboard css */
@import "../components/dashboard/superadmin/Layout/Sidebar.scss";
@import "../components/dashboard/superadmin/registration/login.scss";

:root {
  --colorPrimary: #ea5b5b;
  --colorSecondary: #471267;
  --color-gradient-start: #6d3378;
  --color-gradient-end: #ca5062;
  --gradientColor: linear-gradient(90deg, #6d3378 0%, #ca5062 100%);
  --pink-gradient: linear-gradient(180deg,rgba(234,91,91,0.6)0%,rgba(255,227,200,0.6)100%);
  --lightPinkBg: rgba(234, 91, 91, 0.06);
  --font-Poppins: "Poppins", sans-serif;
  --greyColor: #f5f5f7;
  --muted-text: #666666;
  --lightOrangeColor: #ffeeee;
}

@theme inline {
  --colorPrimary: var(--colorPrimary);
  --colorSecondary: var(--colorSecondary);
  --color-gradient-start: var(--color-gradient-start);
  --color-gradient-end: var(--color-gradient-end);
  --gradientColor: var(--gradientColor);
  --lightPinkBg: var(--lightPinkBg);
  --font-family: var(--font-Poppins);
  --greyColor: var(--greyColor);
  --lightOrangeColor: var(--lightOrangeColor);
  --muted-text: var(--muted-text);
  --pink-gradient: var(--pink-gradient);
}

/* -----------------------
Common Utilities
----------------------- */
body {
  @apply m-0 p-0 box-border [font-family:var(--font-family)];
}
