@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "../assets/css/main.scss";
@import "../components/Home/banner/banner.scss";
@import "../components/Home/camps/camps.scss";
@import "../components/Home/strip/strip.scss";


:root {
  --colorPrimary: #ea5b5b;
  --colorSecondary: #471267;
  --color-gradient-start: #6d3378;
  --color-gradient-end: #ca5062;
  --gradientColor: linear-gradient(90deg, #6d3378 0%, #ca5062 100%);
  --lightPinkBg: rgba(234, 91, 91, 0.06);
  --font-Poppins: "Poppins", sans-serif;
  --greyColor: #f5f5f7;
  --lightOrangeColor: #ffeeee;
}

@theme inline {
  --colorPrimary: var(--colorPrimary);
  --colorSecondary: var(--colorSecondary);
  --color-gradient-start: var(--color-gradient-start);
  --color-gradient-end: var(--color-gradient-end);
  --gradientColor: var(--gradientColor);
  --lightPinkBg: var(--lightPinkBg);
  --font-family: var(--font-Poppins);
  --greyColor: var(--greyColor);
  --lightOrangeColor: var(--lightOrangeColor);
}

/* -----------------------
Common Utilities
----------------------- */
body {
  @apply m-0 p-0 box-border [font-family:var(--font-family)];
}

